 name: This test case verifies the message if user is trying to submit the query with empty input textbox 
 url: https://nhanes-dev.hms.harvard.edu/psamaui/login
 reporter: ConsoleReporter
 SearchTerm: Vitamin D
 TextToSelect: Vitamin D