 name: This setup the environment for running the automation test scripts
 url: https://nhanes-dev.hms.harvard.edu/psamaui/login
 reporter: ConsoleReporter
 SearchTerm: Vitamin
 TextToSelect: Vitamin E
 PatientCount: 1410
 NumericValueGreater: 5