 name: This test case verifies the validation message for in between text fields
 reporter: ConsoleReporter
 SearchTerm: Vitamin
 TextToSelect: Vitamin E
 PatientCount: 4986
 NumericValue1: 13
 NumericValue2: 9