 name: This test case verify validation around by numeric fields
 url: https://preprod.picsure.biodatacatalyst.nhlbi.nih.gov/
 reporter: ConsoleReporter
 SearchTerm: Vitamin E
 TextToSelect: Vitamin E
 PatientCount: 2150
 NumericValueOutofRange: 99.9